/* --------- Header Container --------- */
.Header {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
  margin-bottom: 2px;
}

/* --------- Bottom Section --------- */
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10 20px;
}

/* Logo */
.logo-img {
  height: 40px;
  cursor: pointer;
}

/* Menu Icon */
.menu-icon {
  font-size: 32px;
  cursor: pointer;
}

/* --------- Sidebar / Right Popup --------- */
.sidebar {
  position: fixed;
  top: 0;
  right: -260px; /* Hidden by default */
  height: 100vh;
  width: 260px;
  background-color: white;
  box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  padding: 20px;
  z-index: 9999;
}

/* Sidebar Open State */
.sidebar.open {
  right: 0;
}

/* Close Button */
.close-btn {
  padding: 8px 15px;
  cursor: pointer;
  border: 1px solid black;
  background: white;
}

/* Top Icons in Sidebar */
.sidebar-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 25px;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 30px;
}

/* Sidebar Icons */
.sidebar-icon {
  cursor: pointer;
}

/* Menu Links */
a.link {
  margin-bottom: 40px;
  cursor: pointer;
  text-align: center;
  margin-top: 50px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: black;
  font-family: 'Josefin Sans', sans-serif;

  transition: 0.3s ease-in-out;
}
a.link:hover {
  margin-left: 5px;
  font-weight: 800;
}
