.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: rgb(0, 0, 0);
  padding: 15px 30px;
  text-align: center;
  font-size: 24px;
  overflow: hidden;
}

.Header img {
  height: 36px;
  width: 128px;
}
.Header .logo img {
  height: 80px;
}
.Header .logo h1 {
  font-size: 35px;
  color: #333;
}
.Header .menu ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
}
.Header .menu ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
}
.Header .icon {
  margin-right: 60px;
  display: flex;
  gap: 30px;
  cursor: pointer;
  size: 10px;
}
.Header .icon span {
  position: absolute;
  /* right side set */

  margin-left: 20px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 7px;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
}
